<DocRq><ServiceName>$serviceName</ServiceName><SignonSessionRq><user_id>$userId</user_id><session>$session</session><lang>$lang</lang></SignonSessionRq><LoanLGExtendRq><CustId><SPName>$spName</SPName></CustId><RqUID>$rqUID</RqUID><LOGPARA><TUSER>$tUSER</TUSER><TBRANCH>$tBRANCH</TBRANCH><TSOURCE>$tSOURCE</TSOURCE></LOGPARA><LoanAcctId><AcctId>$acctId</AcctId><AcctType>$acctType</AcctType></LoanAcctId><DocNo>$docNo</DocNo><EffDt>$effDt</EffDt><TranInfo><TranCode>$tranCode</TranCode><TranFlag>$tranFlag</TranFlag></TranInfo><ExtendData><ElementName>$extendDataElementName</ElementName><ElementValue>$extendDataElementValue</ElementValue></ExtendData></LoanLGExtendRq></DocRq>