<BkToCstmrDbtCdtNtfctn>
	<GrpHdr>
		<MsgId>$bankTransNo</MsgId>
		<CreDtTm>$bankTransDateTime</CreDtTm>
	</GrpHdr>
	<Ntfctn>
		<Id>$bankTransNo</Id>
		<CreDtTm>$bankTransDateTime</CreDtTm>
		<Acct>
			<Id>
				<Othr>
					<Id>$bankAcctNo</Id>
				</Othr>
			</Id>
		</Acct>
		<Ntry>
			<NtryRef>$bankRef</NtryRef>
			<Amt>$depositAmt</Amt>
			<CdtDbtInd>CRDT</CdtDbtInd>
			<Sts>$status</Sts>
			<BookgDt>$depositDateTime</BookgDt>
			<BkTxCd>
				<Prtry>
					<Cd>$bankCode</Cd>
				</Prtry>
			</BkTxCd>
			<NtryDtls>
				<TxDtls>
					<Refs>
						<MsgId>$messageId</MsgId>
						<EndToEndId>$customsRefNo</EndToEndId>
					</Refs>
					<AmtDtls>
						<InstdAmt>$depositAmt</InstdAmt>
					</AmtDtls>
					<RltdPties>
						<Dbtr>
							<Nm>$debtorCompanyName</Nm>
							<Id>
								<OrgId>
								#foreach( $orgId in $OrgIdList )
									<Othr>
										<Id>$orgId.id</Id>
										<SchemeNm>
											<Prtry>$orgId.properties</Prtry>
										</SchemeNm>
									</Othr>
								#end
								</OrgId>
							</Id>
						</Dbtr>
						<DbtrAcct>
							<Id>
								<Othr>
									<Id>$debtorBankAcctNo</Id>
								</Othr>
							</Id>
						</DbtrAcct>
					</RltdPties>
					<RltdAgts>
						<DbtrAgt>
							<FinInstnId>
								<Othr>
									<Id>$debtorBankCode</Id>
								</Othr>
							</FinInstnId>
							<BrnchId>
								<Id>$debtorBankBranchCode</Id>
							</BrnchId>
						</DbtrAgt>
					</RltdAgts>
					<RmtInf>
						<Strd>
						#foreach( $refDocInf in $refDocInfoList )
							<RfrdDocInf>
								<Tp>
									<CdOrPrtry>
										<Prtry>$refDocInf.properties</Prtry>
									</CdOrPrtry>
									#if ($refDocInf.properties == "INFORM")
									<Issr>$refDocInf.issuer<Issr>
									#end
								</Tp>
								<Nb>$refDocInf.number</Nb>
								#if ($refDocInf.properties == "INFORM")
								<RltdDt>$refDocInf.relatedDate</RltdDt>
								#end
							</RfrdDocInf>
						#end
						</Strd>
					</RmtInf>
					<RltdDts>
						<TxDtTm>$customsTransDateTime</TxDtTm>
					</RltdDts>
					<RtrInf>
						<Rsn>
							<Cd>$messageStatus</Cd>
						</Rsn>
						<AddtlInf>$messageDesc</AddtlInf>
					</RtrInf>
				</TxDtls>
			</NtryDtls>
		</Ntry>
	</Ntfctn>
</BkToCstmrDbtCdtNtfctn>